.header-container{
    background: #004E8C;
    height: 110px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.2rem;
    position: static;
    top: 0;
    z-index: 999;
    width: 100%;
}

.futurero-logo
{
    width: 60px;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    margin-left: 1rem;
}

.header-container > h3{
    color: #fff;
    padding-left: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

 .logo{
  width:100%
 }

